.Media {
  cursor: pointer;
  margin-right: 15px;
  display: inline-block;
  width: 260px;
  vertical-align: top;
  color: black;
  /*border: 1px solid red;*/
  text-align: center;
 /* background-color: yellow;*/
}